@page
@model Telemedicina_TCC.Areas.Identity.Pages.Triagem.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Triagem</h1>

<partial name="~/Views/Shared/_ChatTriagem.cshtml" />

